{{- if .Values.persist.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dpsv-pvc
  namespace: {{ .Release.Namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: {{ .Values.storage_class }}
{{- end }}